<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>MENRVA Equipment Manager</title>
</head>
<body>
  <h1>MENRVA Equipment Manager - Dashboard</h1>
  Logged in as: <%= user.displayName %> <img src="<%= user.team.image_34 %>" alt="User image"> <a href="../logoff">Log Out</a>
  <h2>List of Assets</h2>
  <table class="data" style="width:800px">
    <th>Asset number</th>
    <th>Status</th>
    <th>Nickname</th>
    <th>Full name</th>
    <th>Category</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Serial number</th>
    <th>Campus</th>
    <th>Location</th>
    <th>Action</th>
    <tr>
      <form class="form-inline" action="/new" method="POST">
        <td><input type="number" value="" name="asset_number" id="asset_number" style="width:8em;"></td>
        <td></td>
        <td><input type="text" placeholder="e.g. DAQ1" name="nickname" id="nickname"></td>
        <td><input type="text" placeholder="Full name" name="full_name" id="full_name"></td>
        <td>
          <select name="category" id="category">
              <option value="TESTEQUIPMENT">Test equipment</option>
              <option value="PROTOTYPING">Prototyping</option>
              <option value="DATAACQUISITION">Data acquisition</option>
              <option value="COMPUTERS">Computers</option>
              <option value="COMPUTERACCESSORIES">Computer accessories</option>
              <option value="ROBOTICS">Robotics</option>
              <option value="SENSORS">Sensors</option>
              <option value="MOTIONTRACKER">Motion tracker</option>
              <option value="CLINICALDEVICES">Clinical devices</option>
              <option value="TOOLS">Tools</option>
              <option value="OTHER">Other</option>
            </select>
        </td>
        <td><input type="text" placeholder="e.g. National Instruments" name="manufacturer" id="manufacturer"></td>
        <td><input type="text" placeholder="e.g. USB-6001" name="model" id="model"></td>
        <td><input type="text" placeholder="Serial number" name="serial_number" id="serial_number"></td>
        <td>
          <select name="campus" id="campus">
            <option value="BURNABY">Burnaby</option>
            <option value="SURREY">Surrey</option>
            <option value="BITOFFICE">BIT Office</option>
          </select>
        </td>
        <td>
          <input type="text" placeholder="e.g. Cabinet 2" name="location" id="location">
        </td>
        <td><button type="submit">Add</button></td>
      </form>
    </tr>
    <% for(var i=0; i<data.length; i++) {%>
      <tr>
        <td><%= data[i].asset_number %></td>
        <td><%= data[i].status %></td>
        <td><%= data[i].nickname %></td>
        <td><%= data[i].full_name %></td>
        <td><%= data[i].category %></td>
        <td><%= data[i].manufacturer %></td>
        <td><%= data[i].model %></td>
        <td><%= data[i].serial_number %></td>
        <td><%= data[i].campus %></td>
        <td><%= data[i].location %></td>
        <td>
          <form method="POST" action="/delete/<%= data[i]._id %>?_method=DELETE">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% } %>
  </table>
  <script src="main.js"></script>
</body>
</html>