<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>MENRVA Equipment Manager</title>
</head>
<body>
  <h1>MENRVA Equipment Manager</h1>
  <h2>Dashboard</h2>
  Logged in as: <%= user.displayName %> <img src="<%= user.team.image_34 %>" alt="User image"> <a href="../logoff">Log Out</a>
  <h3>List of Assets</h3>
  <table class="data" style="width:800px">
    <th>Asset number</th>
    <th>Date added</th>
    <th>Status</th>
    <th>Date Modified</th>
    <th>Date Due</th>
    <th>User</th>
    <th>Nickname</th>
    <th>Full name</th>
    <th>Category</th>
    <th>Manufacturer</th>
    <th>Model</th>
    <th>Serial number</th>
    <th>Campus</th>
    <th>Location</th>
    <th>Action</th>
    <tr>
      <% var currentDate = new Date(Date.now()); %>
      <% var localDate = new Date(currentDate.getTime() - (currentDate.getTimezoneOffset() * 60000)).toISOString(); %>
      <form class="form-inline" action="/new" method="POST">
        <td><input class="myassetnumber" type="number" step="1" value=<%= data.length>0 ? Math.max.apply(Math, data.map(function(o) { return o.asset_number; })) + 1 : 1 %> name="asset_number" id="asset_number"></td>
        <td><input type="datetime-local" name="date_added" value=<%= localDate.substring(0, localDate.length - 1) %>></td>
        <td>
          <select name="status" id="status">
            <% Object.keys(statusOptions).forEach(function(key) { %>
              <option value=<%= key %>><%= statusOptions[key].name %></option>
            <% }) %>
          </select>
        </td>
        <td><input type="datetime-local" name="date_modified" value=<%= localDate.substring(0, localDate.length - 1) %>></td>
        <td><input type="datetime-local" name="date_due"></td>
        <td>
          <select name="user_id" id="user_id">
            <% for(var i=0; i<allUsers.length; i++) {%>
              <option value=<%= allUsers[i]._id %> <% if (allUsers[i]._id==user.id) {%> selected='selected' <%} %>><%= allUsers[i].name %></option>
            <% } %>
          </select>
        </td>
        <td><input type="text" placeholder="e.g. DAQ1" name="nickname" id="nickname"></td>
        <td><input type="text" placeholder="Full name" name="full_name" id="full_name"></td>
        <td>
          <select name="category" id="category">
            <% Object.keys(categoryOptions).forEach(function(key) { %>
              <option value=<%= key %>><%= categoryOptions[key].name %></option>
            <% }) %>
            </select>
        </td>
        <td><input type="text" placeholder="e.g. National Instruments" name="manufacturer" id="manufacturer"></td>
        <td><input type="text" placeholder="e.g. USB-6001" name="model" id="model"></td>
        <td><input type="text" placeholder="Serial number" name="serial_number" id="serial_number"></td>
        <td>
          <select name="campus" id="campus">
            <% Object.keys(campusOptions).forEach(function(key) { %>
              <option value=<%= key %>><%= campusOptions[key].name %></option>
            <% }) %>
          </select>
        </td>
        <td>
          <input type="text" placeholder="e.g. Cabinet 2" name="location" id="location">
        </td>
        <td><button type="submit">Add</button></td>
      </form>
    </tr>
    <% for(var i=0; i<data.length; i++) {%>
      <tr>
        <td><%= data[i].asset_number %></td>
        <td>
          <% var dateAdded = new Date(data[i].date_added) %>
          <% var localDateAdded = new Date(dateAdded.getTime() - (dateAdded.getTimezoneOffset() * 60000)).toISOString(); %>
          <%= localDateAdded.substring(0, localDateAdded.length - 5).replace("T", " ") %>
        </td>
        <td><%= statusOptions[data[i].status].name %></td>
        <td>
          <% var dateModified = new Date(data[i].date_modified) %>
          <% var localDateModified = new Date(dateModified.getTime() - (dateModified.getTimezoneOffset() * 60000)).toISOString(); %>
          <%= localDateModified.substring(0, localDateModified.length - 5).replace("T", " ") %>
        </td>
        <td>
          <% if (data[i].date_due) { %>
          <%  var dateDue = new Date(data[i].date_due) %>
          <%  var localDateDue = new Date(dateDue.getTime() - (dateDue.getTimezoneOffset() * 60000)).toISOString(); %>
          <%= localDateDue.substring(0, localDateDue.length - 5).replace("T", " ") %>
          <% } else { %>
          <%= "Not specified" %>
          <% } %>
        </td>
        <% if (allUsers.find(o => o._id === data[i].user_id)) { %>
          <td><%= allUsers.find(o => o._id === data[i].user_id).name %></td>
        <% } else { %>
          <td><%= data[i].user_id %></td>
        <% } %>
        <td><%= data[i].nickname %></td>
        <td><%= data[i].full_name %></td>
        <td><%= categoryOptions[data[i].category].name %></td>
        <td><%= data[i].manufacturer %></td>
        <td><%= data[i].model %></td>
        <td><%= data[i].serial_number %></td>
        <td><%= campusOptions[data[i].campus].name %></td>
        <td><%= data[i].location %></td>
        <td>
          <form method="POST" action="/delete/<%= data[i]._id %>?_method=DELETE">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" class="mydelete">Delete</button>
          </form>
          <form method="GET" action="/edit/<%= data[i]._id %>?_method=GET">
            <input type="hidden" name="_method" value="get"/>
            <button type="submit">Edit</button>
          </form>
        </td>
      </tr>
    <% } %>
  </table>
  <p>
  <a href=mailto:bchannig@sfu.ca?Subject=Equipment%20manager%20bug%20report>Report bug</a>
  </p>
</body>
</html>